.main-homepage {
    text-align: center;
    background-color: #c5cfd8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: snow;
  }

.emojis {
    font-size: 7vh;
    font-size: 5vw;
}